*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.main{
    display: flex;
    justify-content:flex-end;
}

form{
    display: grid;
    padding: 12px;
    margin: 3px;
    background-color: white;
    height: 50vh;
    width: 100vh;
    border-radius: 20px;
    border: 1px solid black;
}

.imageSection{
    display: flex;
    justify-content: flex-start;
}