
.card-wrapper{
    position: relative;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 0.3rem;
    padding: 2rem;
    border: none;
    gap: 20px;
    max-width: 120vh;
    max-height: 200vh;
}


img{
    width: 100%;
    height: 25vw;
    object-fit: cover;
    border-radius: 10px;
}

img:hover{
    height: 80%;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 1px solid black;
    border-radius: 15px;
    
    /* background-color: rebeccapurple; */
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}



.card .likeButton{
    gap: 5px;
   
}
.card:hover p{  
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display:block;
    gap: 1rem;
    overflow-wrap: break-word;

}

.card:hover .likeButton{  
    display:block;
}

